body {
    background-color: #ECF0F1;
}
div.container{
    height: 657px;
}
div.col-9 {
    background-color: #E5E9EA;
}
.product {
    width: 65px;
    height: 85px;
}
div.products {
    float: right;
    border: 1px solid white;
    border-radius: 50%;
    padding: 14px;
    background-color: white;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-right: 25px;
    padding-left: 25px;
}
.border {
    border: 1px solid #FFF!important;
    border-radius: 50%;
    margin: 10px;
}
.row {
    margin-right: 60px;
}
.a {
    height: 100px;

}
.r1 {
    margin-top: 40px;
    margin-right: 0px;
}
.po {
    position: absolute;
    left: 150px;
    top: 40px;
}
.pos {
    position: absolute;
    left: 260px;
    top: 10px;
}
@font-face {
    font-family: my font;
    src: url("../font/Bkodak.ttf") format("truetype");
    src: url("../font/Bkodak.otf") format("opentype");
}
.dis {
    font-family: my font;
    float: right;
    padding-left: 135px;
}
.ab {
    position: absolute;
    top: 40px;
}
.under1 {
    font-family: sans-serif;
    color: #889298;
    font-size: small;
    padding-left: 77px;
}
.under2 {
    font-family: sans-serif;
    color: #889298;
    font-size: small;
    padding-left: 34px;
}
div.col-9:hover {
    background-color: #F1C40F;
    transition: 0.7s;
}
.multi {
    float: left;
    font-size: large;
}
svg.bi-x {
    font-size: xx-large;
    border-radius: 50%;
}
svg.bi-x:hover {
    background-color: #000;
    color: #F1C40F;
    transition: 0.7s;
}
div.default {
    border: #4B4340;
    background-color: #4B4340;
    position: absolute;
    height: 657px;
    top: 0px;
    left: -400px;
    transition: 0.7s;
    width: 400px;
}
.show {
    left: 0px!important;
}
#remove {
    color: #F1C40F;
}
.r0 {
    margin-bottom: 55px;
}
div.col-9:hover {
    cursor:pointer;
}
svg.bi-x:hover {
    cursor:pointer;
}
i.fa-exchange-alt:hover {
    cursor:pointer;
}
h1.fh  {
    font-family: "my font";
    font-size: x-large;
    color:#F1C40F;
}
div.default1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 105px;
}
div.xdefault {
    position: absolute;
    left: 357px;
    top: 40px;
}
div.dfh {
    float:right;
    margin-bottom: 40px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: none;
    border-top: none;
}
.table-sm {
    direction: rtl;
    font-family: "my font";
    color: #F1C40F;
}
.rr {
    float: right;
    border-top:none ;
}
.table td, .table th {
    padding: 0px;
    border-top: none;
    padding-top: 7px
}
.tr1 {
    border-top: 1px solid #655738;
}
.tr2 {
    border-top: 1px solid #F1C40F;
}
