body {
    background-color: #ECF0F1;
}

/*div.container {*/
/*    height: 657px;*/
/*}*/

div.gray-card {
    background-color: #E5E9EA;
    padding-right: 140px;
}

.product {
    width: 65px;
    height: 85px;
}

div.products {
    float: right;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 14px 25px;
    margin-right: -125px;
}

.border {
    border: 1px solid #FFF !important;
    border-radius: 50%;
    margin: 10px;
}

/*.row {*/
/*    margin-right: 60px;*/
/*}*/

.a {
    height: 100px;

}

.r1 {
    margin-top: 40px;
    margin-right: 0px;
}

.po {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.po > div {
    float: left;
}

.po > div:first-child {
    margin-right: 40px;
}

.pos {
    position: relative;
    margin: 25px auto;
    padding-left: 18px;
    margin-left: 50px;
}

.pos i {
    font-size: 18px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 7px 7px;
    float: left;
}

.pos > div {
    margin-right: 20px;
}

.pos > .fa-exchange-alt:hover {
    background-color: black;
    color: #F1C40F;
}

@font-face {
    font-family: my font;
    src: url("../font/Bkodak.ttf") format("truetype");
    src: url("../font/Bkodak.otf") format("opentype");
}

.dis {
    font-family: my font;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
}

.dis p {
    margin-bottom: 5px;
}

.dis p:last-child {
    margin-bottom: 0;
}

.ab {
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
    direction: rtl;
}

.ab > .dis:first-child {
    width: 55%;
}

.ab > .dis:nth-child(2) {
    width: 25%;
}

.ab > .dis:last-child {
    width: 20%;
}

.under1 {
    font-family: sans-serif;
    color: #889298;
    font-size: small;
    padding-left: 77px;
}

.under2 {
    font-family: sans-serif;
    color: #889298;
    font-size: small;
    padding-left: 34px;
}

div.gray-card:hover {
    background-color: #F1C40F;
    transition: 0.7s;
}

.multi {
    float: left;
    font-size: large;
}

svg.bi-x, svg.bi-tag {
    font-size: xx-large;
    border-radius: 50%;
}

svg.bi-tag {
    padding: 6px;
    overflow: initial;
}

svg.bi-x:hover, svg.bi-tag:hover {
    background-color: #000;
    color: #F1C40F;
    transition: 0.7s;
    cursor: pointer;
}

div.default {
    border: #4B4340;
    background-color: #4B4340;
    position: absolute;
    height: 100%;
    top: 0;
    left: -400px;
    transition: 0.7s;
    width: 400px;
}

.show {
    left: 0px !important;
}

#remove {
    color: #F1C40F;
}

.r0 {
    margin-bottom: 55px;
}

div.gray-card:hover {
    cursor: pointer;
}

svg.bi-x:hover {
    cursor: pointer;
}

i.fa-exchange-alt:hover {
    cursor: pointer;
}

h1.fh {
    font-family: "my font";
    font-size: x-large;
    color: #F1C40F;
}

div.default1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 105px;
}

div.xdefault {
    position: absolute;
    left: 357px;
    top: 40px;
}

div.dfh {
    float: right;
    margin-bottom: 40px;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: none;
    border-top: none;
}

.table-sm {
    direction: rtl;
    font-family: "my font";
    color: #F1C40F;
}

.rr {
    float: right;
    border-top: none;
}

.table td, .table th {
    padding: 0px;
    border-top: none;
    padding-top: 7px
}

.tr1 {
    border-top: 1px solid #655738;
}

.tr2 {
    border-top: 1px solid #F1C40F;
}

.dropdown-menu {
    width: 620px;
    height: 300px;
    padding: 20px 40px;
    background-color: #4B4340;
}

div.dropdown-menu > .table {
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    float: right;
    color: #F1C40F;
}

thead.cart-plus {
    width: 100%;
    direction: rtl;
    position: relative;
    display: table;
    margin-bottom: 5px;
    font-family: "my font";
    font-size: large;
}

tbody.cart-plus {
    width: 100%;
    direction: rtl;
    position: relative;
    display: table;

}

.dropdown-menu > h1 {
    font-family: "my font";
    color: #F1C40F;
    font-size: x-large;
    float: right;
}

tbody.cart-plus > tr {
    border-top: 1px solid #F1C40F;
    font-family: "my font";
    font-size: small;
}

p > span {
    font-family: sans-serif;
}

td.plus {
    display: inline-flex;
}

thead.cart-plus > tr > th:nth-child(2) {
    position: absolute;
    right: 225px;
    padding-bottom: 0px;
}

thead.cart-plus > tr > th:last-child {
    position: relative;
    right: 200px;
    padding-bottom: 0px;
}

thead.cart-plus > tr > th:first-child {
    position: relative;
    right: 35px;
    padding-bottom: 0px;
}

tbody.cart-plus > tr > td > p {
    margin-bottom: 0px;
    position: relative;
    display: inline-flex;
}

tbody.cart-plus > tr > td:first-child {
    display: inline-flex;
}

svg.bi-plus {
    position: relative;
    left: 15px;
    font-size: large;
    border-radius: 50%;
}

svg.bi-dash {
    position: relative;
    right: 15px;
    font-size: large;
    border-radius: 50%;
}

tbody.cart-plus > tr > td:nth-child(2) {
    padding-left: 75px;
}

tbody.cart-plus > tr > td {
    padding-bottom: 7px;
}

td.plus > p {
    border: 1px solid;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: -1px -1px;
}

svg.bi-dash:hover {
    color: #4B4340;
    background-color: #F1C40F;
    cursor: pointer;
}

svg.bi-plus:hover {
    color: #4B4340;
    background-color: #F1C40F;
    cursor: pointer;
}

.dropdown-menu > div {
    border: 1px solid #F1C40F;
    font-family: "my font";
    font-size: small;
    color: #F1C40F;
    width: 235px;
    height: 35px;
    position: absolute;
    top: 242px;
    left: 343px;
}

.dropdown-menu > div > p:first-child {
    margin-bottom: 0;
    float: right;
    position: absolute;
    right: 20px;
    direction: rtl;
    top: 5px;
}

.dropdown-menu > div > p:nth-child(2) {
    margin-bottom: 0;
    float: right;
    position: absolute;
    left: 50px;
    direction: rtl;
    top: 5px;
}

.dropdown-menu > div > p:last-child {
    margin-bottom: 0;
    float: right;
    position: absolute;
    left: 20px;
    direction: rtl;
    top: 5px;
}

.dropdown-menu > button:last-child {
    background-color: #F1C40F;
    color: #4B4340;
    font-family: "my font";
    font-size: medium;
    position: absolute;
    bottom: 20px;
    width: 100px;
    border: 1px #F1C40F;
}

.dropdown-toggle {
    width: 25px;
    position: absolute;
    left: 75px;
    height: 20px;
    background-color: #ECF0F1;
    border-color: #ECF0F1;
    top: 7px;
}

.btn-secondary:hover {
    background-color: #ECF0F1;
    border-color: #ECF0F1;
}

.dropdown-toggle > i {
    position: absolute;
    left: -6px;
    bottom: -6px;
    color: black;
}

.dropdown-toggle > i:hover {
    background-color: black;
    color: #F1C40F;
}

.dropdown-toggle:focus > i {
    color: #F1C40F;
}

.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

.show > .btn-secondary.dropdown-toggle {
    color: #F1C40F;
    background-color: #4B4340;
    border-color: #4B4340;
}

.btn:focus {
    box-shadow: none;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu:after {
    content: "";
    position: absolute;
    top: -22px;
    left: 43px;
    border: 8px solid transparent;
    border-bottom-color: #4B4340;
    transform: translate(-13px, 6px);
}

.dropdown-menu.show {
    will-change: transform !important;
    position: absolute !important;
    transform: translate3d(50px, 30px, 0px) !important;
    top: 5px !important;
}